header {
    display: flex;
    background: #91ccff;
    border-bottom: 1px solid #d30000;
    justify-content: space-between;
    padding:px 30px;
}

header .LogoGroup {
    display: flex;
    width: 10px;
    gap:10px;
}

header .LogoGroup h1 {
    display:block;
    width: 100%;
    font-size:20px;
    font-weight: bolder;
}
