@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
.index-page-content { font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: oblique;
    font-size: 29px;
}
.jpg{
  border-radius: 15px;
    width: 535px;
    float:right;
    margin: 0 20px;
    
}
