@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.index-page-content {
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px; ;
}